$blue: teal;

body{
	width: 100%;
}

.container{
	width: 1140px;
	margin: 20px auto;
	.section{
		padding-left: 10px;
		padding-right: 10px;
		border: 1px solid $blue;
		height: 400px;
		margin-right: 2px;
	}
	#first, #first2{
		width: 160px;
	}
	#second, #second2{
		width: 300px;
	}
	#third, #third2{
		width: 600px;
	}
}
.section{
	float: left;
}
h1{
	color: $blue;
}

#third div.bar {
    display: inline-block;
    width: 20px;
    height: 75px;  
    background-color: teal;
    margin-right: 2px;
}

p{
	margin: 0;
	padding: 0;
	font-size: .7em;
}
#first2{
	h1{
		color: rgb(0,0,140);
	}
}
#third2 div{
	position: relative;
	top: 80px;
}