body {
  width: 100%;
  background-color: #fafaff; }

h1 {
  color: #00008c; }

p {
  margin: 0;
  padding: 0;
  font-size: .8em; }

.container {
  width: 1140px;
  margin: 20px auto; }
  .container .section {
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #00008c;
    height: 300px;
    margin-right: 2px;
    background-color: white;
    float: left; }
  .container #first, .container #first2 {
    width: 160px; }
  .container #second, .container #second2 {
    width: 300px; }
  .container #third, .container #third2 {
    width: 600px; }

#first h1 {
  color: #00008c; }

#third div {
  position: relative;
  top: 70px;
  left: 30px; }

.data {
  float: left; }

#p1 {
  padding-right: 10px;
  padding-left: 5px;
  border-right: 1px solid #00008c; }

#p2 {
  padding-left: 10px; }

#p1Scatter {
  padding-left: 40px;
  padding-top: 3px;
  margin: 0; }

#second2 h2 {
  margin-bottom: 0; }

#third2 div {
  position: relative;
  top: 0;
  left: -10; }
