h1 {
  color: #6478c8; }

div.bar {
  display: inline-block;
  width: 20px;
  height: 75px;
  /* We'll override this later */
  background-color: teal;
  margin-right: 2px; }

p {
  margin: 0;
  padding: 0;
  font-size: .7em; }
